<div class="jumbotron">
    <div class="container">

<br><br><br><br>
    <img src="assets/images/integration.jpg" width=1200 px>
 
 <br><br>
 <h2 style="Color:Red"> Enterprise Architecture and Integration</h2>
 <p class="lead"  style="font-size:15px">Organizations use a number of enterprise applications and legacy systems such as SCM, ERP and CRM for 
various business objectives. These disconnected applications have to be integrated if they are to be 
effective and provide an explicable view of business system. Organizations try to incorporate and 
analyze any information and convert it to profitable use to succeed in today’s highly competitive 
business place.
</p>
<p class="lead"  style="font-size:15px">
Brilliant Innovation Labs provides Enterprise Architecture & Integration services, by implementing 
best practices and methodologies to provide advanced Application Middleware services and ensure the 
client to achieve their business goals by seamless sharing of information within and between enterprises.
</p><br>
</div></div>