<div class="navbar navbar-default navbar-fixed-top" role="navigation" >

    <div class="container-fluid">
        <!--img src="brinova1.png" width="100 %" height="80" align="navbar-fixed-top"-->
                <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--a class="navbar-brand" href="Brinovo.html"--><!--h3 style="font-family:Microsoft Sans Serif"><strong style="color:red">Brilliant Innovation Labs</strong></h3> -->
          <a href="">
             <img src="assets/images/Brinova1.png" width="50"  height ="auto" align="navbar-fixed-top"><strong style="color: black"> <span>Brilliant Innovation Labs</span></strong>
             <div class="wred"> <i> Innovating , Integrating , Accelerating.. </i></div>
             
             </a>
            
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
                         
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ><h5 class="hover">Services <span class="caret"></span></h5></a>
              <ul class="dropdown-menu" role="menu">                          
                <li><a  routerLink="/software-development-service" routerLinkActive="active">Software Development Services</a></li>
                <li><a  routerLink="/bpasi" routerLinkActive="active">Business Process Automation Services</a></li>
                <li><a  routerLink="/esi" routerLinkActive="active">Enterprise Systems Integration</a></li>
              </ul>
            </li>

            <li class="dropdown"><a> <h5 class="hover"> Industries </h5></a></li>  
            <li class="dropdown"><a  routerLink="/hw-we-exe" routerLinkActive="active"><h5 class="hover">How we execute</h5></a></li>        
            <li class="dropdown"><a routerLink="/tech-practice" routerLinkActive="active"> <h5 class="hover">Technology Practice</h5></a></li>  

            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><h5 class="hover">About Us <span class="caret"></span></h5></a>
              <ul class="dropdown-menu" role="menu">                          
                <li><a routerLink="/company" routerLinkActive="active">Company</a></li>
                
                <li><a routerLink="/vision" routerLinkActive="active"> Vision</a></li>
                <li><a href="#">Leadership</a></li>
              </ul>
            </li> 
            
            <li class="dropdown"><a  routerLink="/get-in-touch" routerLinkActive="active" ><h5 class="hover">Get In Touch</h5></a></li>                      
            
          </ul> <!-- .nav .navbar-nav -->        
        </div><!-- /.navbar-collapse -->
        
    </div><!-- /.container-fluid -->
</div>
<router-outlet></router-outlet>
  <footer class="footer-distributed">

          <div class="footer-left">

              <h3 style="font-family: Microsoft Sans Serif"><span style=color:red> Brilliant </span>Innovation Labs</h3>

              <!--div class="footer-links">
                  <a href="#">Home</a>
                  ·
                  <a href="#">About Us</a>
                  ·
                  <a href="#">Services</a>
                  ·
                  <a href="#">Industries</a>
                  ·
                  <a href="#">Get In Touch</a>
              </div-->
              <p class="footer-company-name"><span style=color:silver>Brilliant Innovation Lab &copy; 2017</span></p>
          </div>
        
      </footer>