

<div class="jumbotron">
    <div class="container-fluid">
<br><br><br><br>
<img src="assets/images/techpractice1.jpg" width=1000 height=200 px >
<!--h2 style="color:red"> Software Development Practice</h2>
 <br>
 <P> 
  Software Industry is a rapidly evolving industry. Due to the demand and existing gaps in the market, the competition is high. Hence there are many companies trying to develop their own solutions to get a piece of the pie.
  
  Studies indicate that over 80% of software development projects are unsuccessful due to wrong foresight, poor execution, budget and resource constraints or incorrect functionality. Unfortunately, a lot of dedicated efforts in software industry go waste. 
  
  Learning from the approach employed and practicing help us in ensuring successful software development. In software development, Upgradation, Enterprise Integration or Maintenance, we approach with the best practices given below
 
 </P>
  
  <ul>
     <li> Recruit the Right Resources</li>
     <li> Select the Right Development Process</li>
     <li> Make Sound Estimations</li>
     <li> Define Smaller Milestones</li>
     <li> Define Complete Requirements </li>
     <li> Define System Architecture</li>
     <li> Optimize Design</li>
     <li> Effective Code Implementation</li>
     <li> Rigourous Testing and Validation</li>
     <li> Documentation of Requirement and Design aspects</li>
     <li> Iterative Reviews</li>
     <li> Project Control Management</li>
     <li> Quality Control</li>
     <li> User Acceptance and Deployment</li>
  </ul-->
 
  
<h2 style="color:red">Technology Practice</h2>
  <ul>
    <li>Open Source</li>
    <li>Unified Modeling Language</li>
    <li>Service Oriented Architecture</li>
    <li>Open Authentication</li>
    <li>Role Based Access Control</li>
    <li>Model View Controller Architecture </li>
    <li>Spring 4.0 </li>
  </ul>
  </div>
  </div>


  
  
  
  

